<div>
<p>email:</p><input type="text" id="email-input" value="swpp@snu.ac.kr"#email><br>
<p>password:</p><input type="password" id="pw-input" value="iluvswpp"#password><br>
<button id="signin-button" (click)="isUser(email.value, password.value)"
          >Sign in</button>
</div>

<!--
<ul class="user">
  <li *ngFor="let auser of user">
    {{auser.name}}
  </li>
<ul class="user">

<button id="gotoarticles" routerLink="/articles">asfasff</button>

<ul class="user">
  <li *ngFor="let user of users">
    {{user.signed_in}}
  </li>
</ul>
-->

